<!DOCTYPE HTML>
 
<head>

<!-- Define Charset -->
<meta charset="utf-8"/>

<!-- Responsive Metatag -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

<!-- Page Title -->
<title>Party in Beijing</title>

<!-- Description and Keyword -->
<meta name="keywords" content=""/>
<meta name="description" content=""/>


<link rel="icon" type="image/png" href="img/favicons/favicon.png"><!--[if IE]><link rel="SHORTCUT ICON" href="/favicon.ico"/><![endif]-->   

<!-- Stylesheet and Bootstrap -->
<link rel="stylesheet" href="css/bootstrap.min.css"/>
<link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
<link rel="stylesheet" href="css/flexslider.css"/>
<link rel="stylesheet" href="css/lightbox.css"/>

<link rel="stylesheet" href="css/styles.css"/>
 
<!-- Google Fonts -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,600italic,700italic,700" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css"/>
<link href="http://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet" type="text/css"/>
 

<!-- Javascript Library -->
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/lightbox.js"></script>

<script type="text/javascript" src="js/jquery.flexslider.js"></script>
<script type="text/javascript" src="js/jquery.nav.js"></script>
<script type="text/javascript" src="js/jquery.scrollTo.js"></script>
<script type="text/javascript" src="js/main.js"></script>
 
</head>
<body>

<!-- Header Start -->
<div id="header" class="header">
<div class="wrapper" >
    
			
			
     <!-- Logo Section -->
     <div class="logo">
     <a href="#"><img src="img/logo.png" alt="" style="width: 200px;padding-top: 15px;"/></a>
     </div>

     <!-- Navigation Section -->
     <div class="navi">
     <ul class="navig">
         <li class="current"><a href="#slider1" >Home</a></li>
         <li><a href="#services" class="coco">Features</a></li>
         <li><a href="#contact" >Contact</a></li>
         <li class="s1"><a href="#fr" class="external"></a></li>
         <li class="s2"><a href="#fr" id="register" class="external"></a></li>
     </ul>
     </div>
	 <div class="navi2"><a  class="closed" id="mobile"></a></div>
	 <div class="clear"></div>
	
</div><!-- Wrapper End -->

<!-- Mobile Menu ( ONLY ON MOBILE )-->
<div id="mobi-menu" class="off">
    <ul>
	<li><a href="#slider1">Home</a></li>
	<li><a href="#services">Features</a></li>
	<li><a href="#contact">Contact</a></li>
	 
	</ul>
	</div>
<!-- Mobile Menu End -->

</div><!-- Header End -->


<!-- Flex Slider Start -->
<div class="flex-container">
<div id="slider1" class="flexslider loading">
     <ul class="slides">
	     <!-- Slide 1 -->
         <li>
         <img src="img/slider/apt3.jpg" alt=""/>
         <div class="flex-caption"> 
             <!--<h3>Foreigners in Beijing<br>Go where you want, easily!</h3>-->

             <div class="subtitle">
                <h2 class="tit">Get an Ayi, Easily!<br></h2>
                <p>
                    Don't know how to get an Ayi?<br>
                    Don't know how to speak chinese?<br> 
                    You need it now, and your chinese friend is busy?<br><br>
                </p>

                <p>
                    We help you <strong>to the best Ayi in your area, really easily</strong><br>
                    It's <strong>simple</strong>, fast, and convenient<br>

                </p>

                <div class="badge">
                    <img src="http://d36xtkk24g8jdx.cloudfront.net/bluebar/86be3e8/images/public/badge_ios.png" alt="    Available on the App Store">
                    <img src="http://d36xtkk24g8jdx.cloudfront.net/bluebar/86be3e8/images/public/badge_android.png" alt="Available on the Play Store">
                </div>

             </div>
             <a class="toto" href="#">Want to know more?</a>
         </div>
         </li>
		 
     </ul>
</div>
</div><!-- Flex Slider End -->

<!-- Content Container  -->
<div class="bg-container">


<!-- Clear -->
<div class="clear"></div>

<!-- Services Start -->
<div id="services" class="services">
<div class="wrapper">

<!-- Services Title -->
<div class="title">
     <div class="divi1"></div><p class="title-spc">Features</p><div class="divi1"></div>
     <div class="clear"></div>
</div>

<!-- Service 1  -->
<div class="featu">
     <div class="icon"> <img src="img/services/icon1.png" class="ft1" alt="" />  </div>
     <h6> High quality service </h6>
     <p> We select personnally the best Ayis. They're Tested In Person</p>
</div> 

<div class="featu-div"></div>

<!-- Service 2  -->
<div class="featu">
     <div class="icon"> <img src="img/services/icon2.png" class="ft1" alt="" />  </div>
     <h6> Simple </h6>
     <p>  You don't need to talk in chinese. Easily book an Ayi in 2 clicks</p>
 </div> 
 
<div class="featu-div"></div>

<!-- Service 3  -->
<div class="featu">
     <div class="icon"> <img src="img/services/icon3.png" class="ft1" alt="" />  </div>
     <h6> Affordable </h6>
     <p> We maintain the best service for the best pricing</p>
</div> 

</div>
</div><!-- Services End -->



</div><!-- Content Container End  -->



<!-- Contact Start -->
<div class="contact" id="contact">
<div class="wrapper">
     <div class="title">
     <div class="divix1"></div><p class="title-spc">Get in touch</p><div class="divix1"></div>
     <div class="clear"></div>
     <h3 class="dark">contact us , we want make the <strong> best app in beijing </strong>. Feedbacks are welcome </h3>
     <div class="divix2"></div>
     </div>

     <div class="cntc" id="contact_form" >
     <form id="contactform" class="form-contact"  action="mailer.php" method="post">
     <div id="success" ></div>
     <input  placeholder="Your Name .."  type="text" class=" input-name" id="name" name="name" />  
     <input placeholder="Your Email .."   type="text" class=" input-email" id="email" name="email" />  
     <textarea placeholder="Your Message .."   class="message" name="message" rows="5" cols="20"></textarea> 
     <input type="submit" class="input-submit" value="Submit" id="send" /> 
     <ul class="form-social">
     <li><a href="#"><img src="img/twitter.png" alt=""  /></a></li>
     <li class="facebook"><a  href="#"><img src="img/facebook.png" alt=""  /></a></li>
     </ul>
     </form>
     </div>
</div>
</div><!-- Contact End -->

 <!-- Footer Start -->
<div class="footer">
<div class="wrapper">
     <div class="divix3"></div>
     <div class="logo2"><a href="#"><img src="img/logo.png" alt="" /></a></div>
     <div class="divix3"></div>
     <div class="data row-fluid">
	 
	 <!-- Footer Data 1 -->
     <div class="span4">
     <div class="iconfi"> <img src="img/f-icon1.png"   alt="" />  </div>
     <p class="data-txt">Phone : +86 186 1269 1412</p>
     </div>

	 <!-- Footer Data 2 -->
     <div class="span4">
     <div class="iconfi"> <img src="img/f-icon2.png"   alt="" />  </div>
     <p class="data-txt">Beijing , China.</p>
     </div>

	 <!-- Footer Data 3 -->
     <div class="span4">
     <div class="iconfi"> <img src="img/f-icon3.png"   alt="" />  </div>
     <p class="data-txt">maideasy@bronchain.me</p>
     </div>
     </div>
	 
</div>
<!-- Footer Copyright -->
<div class="copy"><p><strong>Party in Beijing</strong> &#169; copyright 2013. all rights reserved</p></div>

</div>
<!-- Footer End -->




<!-- Register Form -->
<div class="wrap2" id="overlay_form2">
<a href="#" id="close3" ></a>
<h1>Register Now </h1>
<div class="divider2"> </div>
<form class="form-contact2"   method="post">
<table>

<tr>
<td><input type="text" id="name2" placeholder="Your Name" name="name" /></td>
</tr>

<tr>
<td><input type="text" id="email2" placeholder="Your Email" name="email" /></td>
</tr>

<tr>
<td><input type="text" id="phone2" placeholder="Your Phone" name="email" /></td>
</tr>

<tr>
<td><input type="text" id="pass2" placeholder="Your Password" name="email" /></td>
</tr>

<tr>
<td><input type="submit" class="submit2" value="Register"   /></td>
</tr>
</table>
</form>
</div>
<div id="popi-bg2"></div>
<!-- Register Form End -->


</body>
</html>